canvas {
    border: 1px solid black;
    margin: 4px 10px;
}
main {
    display: flex;
    justify-content: center;
    text-align: left;
}
main ul {
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    text-align: left;
}
#roomCred {
    text-align: left;
}

@media screen and (max-width:800px) {
    main {
        display: block;
    }
    canvas {
        margin: 4px 0px;
    }
}