canvas {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    margin: 0px 8px;
}
main {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 8px;
}
main ul {
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    text-align: left;
}
nav {
    user-select: none;
}
#roomCred {
    text-align: left;
}
#canvasArea {
    display: flex;
    flex-direction: column;
}

aside{
    background-color: #ECECEC;
    padding: 7px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    user-select: none;
}

aside > section {
    margin-top: 4px;
}


@media screen and (max-width:800px) {
    main {
        display: block;
    }
    canvas {
        margin: 0;
    }
    #canvasArea {
        margin: 10px 0px;
    }
    nav {
        left: 25%;
    }
    aside {
        bottom: 10px;
    }
}